<header class="header">
    <div class="container header-inner">
        <a class="brand" href="#">초보 육아 웹</a>
        <nav class="nav">
            <a class="active" href="#">홈</a>
            <a href="#stories">동화</a>
            <a href="#behaviors">행동사전</a>
            <a href="#routines">루틴</a>
            <a href="#growth">성장/건강</a>
            <a href="#community">커뮤니티</a>

        </nav>
        <div class="auth" id="authArea">
            <a href="/signin" class="btn ghost" id="loginBtn">로그인</a>
            <a href="/signup" class="btn" id="signupBtn">회원가입</a>
        </div>

    </div>
</header>